version: '3'

services:
  web:
    build: ./company/
    command: bash -c "python manage.py migrate && python manage.py create_users && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./company/:/code
    ports:
      - "8000:8000"
  ui:
    build: ./company_ui/
    command: ng serve --host 0.0.0.0
    volumes:
      - './company_ui:/app'
      - '/app/node_modules'
    ports:
      - '4201:4200'
